/**
 * Projects
 *
 * Styles which integrate this with with Projects.
 * This stylesheet is only enqueued if Projects is activated.
 * http://wordpress.org/plugins/projects-by-woothemes/
 */
@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    zoom: 1;
  }
}
.projects ul.projects,
.projects-page ul.projects {
  list-style: none;
}
.projects ul.projects:after,
.projects-page ul.projects:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.projects ul.projects li.project,
.projects-page ul.projects li.project {
  width: 48%;
  float: left;
  clear: both;
  margin-bottom: 1.618em;
}
.projects ul.projects li.project img,
.projects-page ul.projects li.project img {
  display: block;
  height: auto;
  margin-bottom: 1em;
}
.projects ul.projects li.project:nth-child(2n),
.projects-page ul.projects li.project:nth-child(2n) {
  margin-right: 0;
  float: right;
  clear: none;
}
.projects .single-featured,
.projects-page .single-featured,
.projects .gallery,
.projects-page .gallery {
  margin-bottom: 1.618em;
}
.projects.has-gallery .gallery img,
.projects-page.has-gallery .gallery img {
  height: auto;
  margin-bottom: 1.618em;
}
.projects .project-meta:after,
.projects-page .project-meta:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.projects .project-meta .categories,
.projects-page .project-meta .categories,
.projects .project-meta .client,
.projects-page .project-meta .client,
.projects .project-meta .url,
.projects-page .project-meta .url {
  margin-bottom: 1.618em;
}
.projects .project-meta > div,
.projects-page .project-meta > div {
  width: 48%;
  float: left;
  clear: both;
}
.projects .project-meta > div:nth-child(2n),
.projects-page .project-meta > div:nth-child(2n) {
  float: right;
  clear: none;
}
.projects .project-meta .single-project-categories,
.projects-page .project-meta .single-project-categories {
  list-style: none;
  margin-bottom: 0;
}
.projects .project-meta .single-project-categories li:before,
.projects-page .project-meta .single-project-categories li:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f07b";
}
.projects .project-meta .client .client-name:before,
.projects-page .project-meta .client .client-name:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f007";
}
.projects .project-meta .url .project-url:before,
.projects-page .project-meta .url .project-url:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f14c";
}
/**
 * Widgets
 */
.widget_projects_items li,
.widget_projects_categories li {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(230, 230, 230, 0.5);
}
.widget_projects_items li:after,
.widget_projects_categories li:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.widget_projects_items li:last-child,
.widget_projects_categories li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
.widget_projects_items img {
  width: 2.618em;
  height: auto;
  float: right;
}
.widget_projects_categories li {
  list-style: none;
}
.widget_projects_categories li:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f07b";
}
.widget_projects_categories ul.children {
  padding-top: 1em;
}
.widget_projects_categories ul.children li:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.5em;
  display: inline-block;
  line-height: 1;
  content: "\f114";
}
.widget_projects_categories ul.children li:first-child {
  border-top: 1px solid rgba(230, 230, 230, 0.5);
  padding-top: 1em;
}
@media only screen and (min-width: 768px) {
  .projects.no-gallery .summary:after,
  .projects-page.no-gallery .summary:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .projects.no-gallery .summary .single-project-description,
  .projects-page.no-gallery .summary .single-project-description {
    float: right;
    width: 65.45%;
  }
  .projects.no-gallery .summary .project-meta,
  .projects-page.no-gallery .summary .project-meta {
    float: left;
    width: 30.75%;
  }
  .projects.no-gallery .project-meta > div,
  .projects-page.no-gallery .project-meta > div {
    width: auto;
    float: none;
    clear: none;
  }
  .projects.has-gallery .project:after,
  .projects-page.has-gallery .project:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .projects.has-gallery .gallery,
  .projects-page.has-gallery .gallery {
    width: 39.45%;
    float: left;
  }
  .projects.has-gallery .summary,
  .projects-page.has-gallery .summary {
    width: 56.75%;
    float: right;
  }
  .projects #post-entries,
  .projects-page #post-entries {
    margin-left: 0;
  }
  .projects.columns-2:after,
  .projects.columns-3:after,
  .projects.columns-4:after,
  .projects.columns-5:after,
  .projects.columns-6:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .projects.columns-2 ul.projects li.project,
  .projects.columns-3 ul.projects li.project,
  .projects.columns-4 ul.projects li.project,
  .projects.columns-5 ul.projects li.project,
  .projects.columns-6 ul.projects li.project {
    float: left;
    margin-right: 3.8%;
    clear: none;
  }
  .projects.columns-2 ul.projects li.project.first,
  .projects.columns-3 ul.projects li.project.first,
  .projects.columns-4 ul.projects li.project.first,
  .projects.columns-5 ul.projects li.project.first,
  .projects.columns-6 ul.projects li.project.first {
    clear: both;
  }
  .projects.columns-2 ul.projects li.project.last,
  .projects.columns-3 ul.projects li.project.last,
  .projects.columns-4 ul.projects li.project.last,
  .projects.columns-5 ul.projects li.project.last,
  .projects.columns-6 ul.projects li.project.last {
    margin-right: 0;
  }
  .projects.columns-2 ul.projects li.project:nth-child(2),
  .projects.columns-3 ul.projects li.project:nth-child(2),
  .projects.columns-4 ul.projects li.project:nth-child(2),
  .projects.columns-5 ul.projects li.project:nth-child(2),
  .projects.columns-6 ul.projects li.project:nth-child(2) {
    float: left;
    clear: none;
  }
  .projects.columns-2 ul.projects li.project {
    width: 48%;
  }
  .projects.columns-3 ul.projects li.project {
    width: 30.75%;
  }
  .projects.columns-4 ul.projects li.project {
    width: 22.05%;
  }
  .projects.columns-5 ul.projects li.project {
    width: 16.9%;
  }
  .projects.columns-6 ul.projects li.project {
    width: 13.5%;
  }
}
