/**
 * Integration styles
 */
@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    zoom: 1;
  }
}
.widget_woothemes_testimonials .quote {
  width: 100%;
  list-style: none;
  margin-bottom: 2.618em;
  float: left;
}
.widget_woothemes_testimonials .quote blockquote {
  border: 0.146em solid #e6e6e6 !important;
  -webkit-border-radius: 0.327em;
  border-radius: 0.327em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 1em !important;
  margin: 0 !important;
  position: relative;
  background: #fff;
}
.widget_woothemes_testimonials .quote blockquote:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 1em;
  z-index: 10001;
}
.widget_woothemes_testimonials .quote blockquote:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #e6e6e6 transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: .857em;
  z-index: 10000;
}
.widget_woothemes_testimonials .quote a.avatar-link {
  position: relative;
  display: inline-block;
  float: left;
  width: 50px;
  height: 50px;
  margin: 1.618em 1.618em 1.618em 0;
}
.widget_woothemes_testimonials .quote a.avatar-link img {
  padding: .236em;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.widget_woothemes_testimonials .quote .author {
  display: block;
  margin: 1.618em 0 0 0;
  font-weight: 700;
  font-style: normal;
}
.widget_woothemes_testimonials .quote .author .excerpt {
  display: block;
  font-weight: normal;
  font-style: italic;
}
.widget_woothemes_testimonials .quote .author .url {
  display: block;
  font-weight: 400;
}
.widget_woothemes_testimonials .quote .author .url a {
  color: #b9babd;
}
@media only screen and (min-width: 768px) {
  #content .widget_woothemes_testimonials .columns-2:after,
  #content .widget_woothemes_testimonials .columns-3:after,
  #content .widget_woothemes_testimonials .columns-4:after,
  #content .widget_woothemes_testimonials .columns-5:after,
  #content .widget_woothemes_testimonials .columns-6:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  #content .widget_woothemes_testimonials .columns-2 .quote,
  #content .widget_woothemes_testimonials .columns-3 .quote,
  #content .widget_woothemes_testimonials .columns-4 .quote,
  #content .widget_woothemes_testimonials .columns-5 .quote,
  #content .widget_woothemes_testimonials .columns-6 .quote {
    float: left;
    margin-right: 3.8%;
  }
  #content .widget_woothemes_testimonials .columns-2 .quote.first,
  #content .widget_woothemes_testimonials .columns-3 .quote.first,
  #content .widget_woothemes_testimonials .columns-4 .quote.first,
  #content .widget_woothemes_testimonials .columns-5 .quote.first,
  #content .widget_woothemes_testimonials .columns-6 .quote.first {
    clear: both;
  }
  #content .widget_woothemes_testimonials .columns-2 .quote.last,
  #content .widget_woothemes_testimonials .columns-3 .quote.last,
  #content .widget_woothemes_testimonials .columns-4 .quote.last,
  #content .widget_woothemes_testimonials .columns-5 .quote.last,
  #content .widget_woothemes_testimonials .columns-6 .quote.last {
    margin-right: 0;
  }
  #content .widget_woothemes_testimonials .columns-2 .quote {
    width: 48%;
  }
  #content .widget_woothemes_testimonials .columns-3 .quote {
    width: 30.75%;
  }
  #content .widget_woothemes_testimonials .columns-4 .quote {
    width: 22.05%;
  }
  #content .widget_woothemes_testimonials .columns-5 .quote {
    width: 16.9%;
  }
  #content .widget_woothemes_testimonials .columns-6 .quote {
    width: 13.5%;
  }
}
